/* All Properties Page Specific Styles */


.search-section{
    margin-top: 10px;
}
.section-header{
    margin-top: 10px;
}

.all-properties {
    padding: 100px 0;
    background-color: var(--light-color);
}

.all-properties .properties-grid {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 50px;
}